* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "open sans";
}

.App {
  width: 70%;
  min-width: 300px;
  max-width: 1280px;
  margin: 0px auto;
  padding: 15px 20px;
  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.dashboard {
  right: 20.78%;
  top: 13.06%;
  bottom: 13.06%;
  background: #FFFFFF;
}
.dashboard .page-title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height, or 127% */
  color: #4A4A4A;
}

.bg-success {
  background-color: #8BC34A !important;
}

#filter-btn-grp a {
  border: 1px solid #D9D9D9;
}
#filter-btn-grp a:hover, #filter-btn-grp a:active, #filter-btn-grp a.active {
  background: #2196F3 !important;
  color: #fff !important;
}

.metrics .metrics-title {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  color: #4A4A4A;
}
.metrics .metrics-title span.circle-dot {
  padding-left: 15px;
  position: relative;
}
.metrics .metrics-title span.circle-dot::before {
  content: " ";
  position: absolute;
  left: 0%;
  right: 75.16%;
  top: 29.65%;
  bottom: 69.4%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8BC34A;
}
.metrics .metrics-average {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  color: #A0B0B9;
  padding-left: 15px;
}
.metrics .metrics-bullet {
  background-color: #2196F3;
  height: 50px;
  width: 50px;
  border-radius: 500%;
  color: #fff;
  position: relative;
}
.metrics .metrics-bullet.dot::before {
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  border: #fff 2px solid;
  right: 5px;
  top: 0px;
}
.metrics .metrics-bullet.dot.dot-success::before {
  background: #8BC34A;
}
.metrics .metrics-bullet.dot.dot-primary::before {
  background: #2196F3;
}
.metrics .metrics-bullet.dot.dot-danger::before {
  background: #FF6A67;
}
.metrics .metrics-bullet.dot::after {
  /* Line 3 Copy 2 */
  content: " ";
  position: absolute;
  border: transparent 5px solid;
  border-top: 60px solid rgb(33, 150, 243);
  left: 40%;
  width: 10px;
  height: 100px;
  top: 100%;
}
.metrics .error-display {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 175% */
  color: #4A4A4A;
}
.metrics .error-display .dot-square {
  padding-left: 15px;
  position: relative;
}
.metrics .error-display .dot-square::before {
  content: " ";
  position: absolute;
  left: 0%;
  right: 75.16%;
  top: 29.65%;
  bottom: 69.4%;
  width: 10px;
  height: 10px;
  border-radius: 30%;
}
.metrics .error-display .dot-square.dot-warning::before {
  background: #FFCC00;
}
.metrics .error-display .dot-square.dot-secondary::before {
  background: #5856D5;
}
.metrics .error-display .dot-square.dot-primary::before {
  background: #2196F3;
}
.metrics .error-display .dot-square.dot-gray::before {
  background: #4A4A4A;
}
.metrics .bars div {
  height: 10px;
  display: inline;
}
.metrics .text-mute {
  color: #A0B0B9;
}
.metrics .period {
  font-size: 12px;
  line-height: 16px;
}
.metrics .data {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  color: #4A4A4A;
}
.metrics .data-disabled {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  color: #A0B0B9;
}/*# sourceMappingURL=Style.css.map */